
card-web/.classpath

card-web/.project

card-web/.settings/.jsdtscope

card-web/.settings/org.eclipse.core.resources.prefs

card-web/.settings/org.eclipse.jdt.core.prefs

card-web/.settings/org.eclipse.m2e.core.prefs

card-web/.settings/org.eclipse.wst.common.component

card-web/.settings/org.eclipse.wst.common.project.facet.core.xml

card-web/.settings/org.eclipse.wst.jsdt.ui.superType.container

card-web/.settings/org.eclipse.wst.jsdt.ui.superType.name

card-web/.settings/org.eclipse.wst.validation.prefs
